*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: -1.5px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.book-card__title, .checkbox__text, .filters-card__title, .search-form__results-row, .search-form__results-title, .search-form__input, .my-button[size=small], .book-card__author, .checkbox__count, .my-pagination__ellipsis, .my-select, .my-button, .search-form[size=small] .search-form__results-row, .search-form[size=small] .search-form__results-title, .search-form[size=small] .search-form__input {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.25px;
}

.book-card__author, .checkbox__count, .my-pagination__ellipsis, .my-select, .my-button, .search-form[size=small] .search-form__results-row, .search-form[size=small] .search-form__results-title, .search-form[size=small] .search-form__input {
  font-size: 16px;
  letter-spacing: 1.25px;
}

.my-button[size=small] {
  font-size: 14px;
  letter-spacing: 1.25px;
}

.search-form__results-title {
  font-weight: bold;
}
.search-form[size=small] .search-form__results-title {
  font-weight: bold;
}
.my-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 48px;
  min-height: 48px;
  max-height: 48px;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 12px;
  background-color: #FFFFFF;
  color: #212121;
  user-select: none;
  cursor: pointer;
}
.my-button:hover {
  opacity: 0.75;
}
.my-button__text {
  pointer-events: none;
  max-width: 100%;
  overflow: hidden;
}
.my-button__img {
  pointer-events: none;
}
.my-button_full .my-button__text {
  margin-right: 4px;
}
.my-button[theme=inverse] {
  background-color: #212121;
  border: 1px solid #212121;
  color: #FFFFFF;
}
.my-button[size=small] {
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  padding: 4px;
}

.my-select {
  display: inline-flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  min-height: 48px;
  max-height: 48px;
  position: relative;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.my-select__button {
  justify-content: space-between;
}
.my-select__options {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  border: 1px solid #676767;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.my-select__options:hover {
  border-color: #212121;
}
.my-select__option {
  padding: 12px;
  white-space: nowrap;
  user-select: none;
}
.my-select__option p {
  overflow: hidden;
  pointer-events: none;
}
.my-select__option:hover {
  background-color: #F0F0F0;
}
.my-select_expanded .my-select__button img {
  transform: rotate(180deg);
}
.my-select_expanded .my-select__options {
  display: flex;
}

.search-form {
  display: inline-flex;
  position: relative;
  min-width: 200px;
  min-height: 48px;
  max-height: 48px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.search-form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  border: 1px solid #676767;
  border-radius: 5px;
  padding: 0px 90px 0px 12px;
}
.search-form__input:hover, .search-form__input:focus {
  border-color: #212121;
}
.search-form__input:focus {
  outline: 2px solid black;
}
.search-form__results {
  position: absolute;
  z-index: 999;
  top: 56px;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.search-form__results-section {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.search-form__results-title {
  padding: 0 12px;
  margin-bottom: 12px;
}
.search-form__results-row {
  padding: 12px;
  cursor: pointer;
  user-select: none;
}
.search-form__results-row:hover {
  background-color: #F0F0F0;
}
.search-form[size=small] .search-form__results {
  top: 48px;
}
.search-form[size=small] .search-form__results-title {
  padding: 0 6px;
  margin-bottom: 6px;
}
.search-form[size=small] .search-form__results-section {
  padding: 6px 0;
}
.search-form[size=small] .search-form__results-row {
  padding: 6px;
}
.search-form__button, .search-form__button_search, .search-form__button_close {
  position: absolute;
}
.search-form__button_close {
  top: 50%;
  right: 56px;
  transform: translateY(-50%);
}
.search-form__button_search {
  right: 0;
}
.search-form[size=small] {
  min-height: 40px;
  max-height: 40px;
}
.search-form[size=small] .search-form__input {
  min-height: 40px;
  max-height: 40px;
  padding: 0px 82px 0px 12px;
}
.search-form[size=small] .search-form__button_close {
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
}
.search-form[size=small] .search-form__button_search {
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.filters-card {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 11px 12px;
}
.filters-card__checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.my-pagination {
  display: flex;
  column-gap: 16px;
}
.my-pagination__ellipsis {
  align-self: flex-end;
  user-select: none;
}
.my-pagination__ellipsis[is-hidden=true] {
  display: none;
}
.my-pagination__my-button_navigate {
  border: 0;
}
.my-pagination__my-button_navigate:hover {
  background-color: #F0F0F0;
}
.my-pagination__my-button_navigate-left {
  transform: rotate(90deg);
}
.my-pagination__my-button_navigate-right {
  transform: rotate(-90deg);
}
.my-pagination__my-button_change-page {
  min-width: 0;
}
.my-pagination__my-button[is-hidden=true] {
  display: none;
}
.my-pagination__movable-buttons {
  display: flex;
  column-gap: 16px;
}
.my-pagination__my-buttons {
  display: flex;
  column-gap: 16px;
}
.my-pagination[type=small] .my-pagination__ellipsis {
  display: none;
}
.my-pagination[state=start] .my-pagination__ellipsis_left {
  display: none;
}
.my-pagination[state=end] .my-pagination__ellipsis_right {
  display: none;
}

#main-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
  padding: 88px 120px;
}

.main__controls {
  margin-bottom: 48px;
}
.main__no-results-message[is-hidden=true] {
  display: none;
}
.main__my-select[is-hidden=true] {
  display: none;
}
.main__search-form {
  margin-right: 40px;
}
.main__book-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 32px;
  column-gap: 40px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__filters-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 32px;
  margin-bottom: 40px;
}
.sidebar__filters-card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.sidebar__my-button {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
.sidebar[is-hidden=true] {
  display: none;
}

.book-card {
  display: flex;
  flex-direction: column;
}
.book-card__cover {
  margin-bottom: 12px;
}
.book-card__title {
  margin-bottom: 6px;
}
.book-card__title, .book-card__author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #676767;
  border-radius: 5px;
  padding: 24px 16px;
}
.book-cover:hover {
  border-color: #212121;
}
.book-cover__img {
  width: 200px;
  height: 280px;
  object-fit: contain;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox__browser-checkbox {
  display: none;
}
.checkbox__custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  border: 1px solid black;
  border-radius: 5px;
}
.checkbox__img {
  opacity: 0;
  transition: opacity 0.1s linear;
}
.checkbox__browser-checkbox:checked + .checkbox__items-left .checkbox__img {
  opacity: 1;
}
.checkbox__text {
  margin-left: 8px;
  user-select: none;
}
.checkbox__count {
  color: #676767;
}

/*# sourceMappingURL=main.css.map */
