*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.search-form__results-row, .search-form__results-title, .search-form__input, .my-button[size=small], .my-button, .search-form[size=small] .search-form__results-row, .search-form[size=small] .search-form__results-title, .search-form[size=small] .search-form__input {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.25px;
}

.my-button, .search-form[size=small] .search-form__results-row, .search-form[size=small] .search-form__results-title, .search-form[size=small] .search-form__input {
  font-size: 16px;
  letter-spacing: 1.25px;
}

.my-button[size=small] {
  font-size: 14px;
  letter-spacing: 1.25px;
}

.search-form__results-title {
  font-weight: bold;
}
.search-form[size=small] .search-form__results-title {
  font-weight: bold;
}
.my-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 48px;
  min-height: 48px;
  max-height: 48px;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 12px;
  background-color: #FFFFFF;
  color: #212121;
  user-select: none;
  cursor: pointer;
}
.my-button:hover {
  opacity: 0.75;
}
.my-button__text {
  max-width: 100%;
  overflow: hidden;
}
.my-button__img {
  pointer-events: none;
}
.my-button_full .my-button__text {
  margin-right: 4px;
}
.my-button[theme=inverse] {
  background-color: #212121;
  border: 1px solid #212121;
  color: #FFFFFF;
}
.my-button[size=small] {
  min-width: 28px;
  min-height: 28px;
  max-height: 28px;
  padding: 4px;
}

.select {
  display: inline-flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
  min-height: 48px;
  max-height: 48px;
  position: relative;
}
.select__btn {
  min-height: 48px;
  max-height: 48px;
}
.select__lst {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  border: 1px solid #676767;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.select__lst:hover {
  border-color: #212121;
}
.select__option {
  padding: 6px 11px;
  white-space: nowrap;
  user-select: none;
}
.select__option p {
  overflow: hidden;
  pointer-events: none;
}
.select__option:hover {
  background-color: #F0F0F0;
}
.select[show=false] .select__btn my-icon {
  transform: rotate(180deg);
}
.select[show=false] .select__lst {
  display: none;
}

.search-form {
  display: inline-flex;
  position: relative;
  min-width: 200px;
  min-height: 48px;
  max-height: 48px;
}
.search-form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  border: 1px solid #676767;
  border-radius: 5px;
  padding: 0px 90px 0px 12px;
}
.search-form__input:hover, .search-form__input:focus {
  border-color: #212121;
}
.search-form__input:focus {
  outline: 2px solid black;
}
.search-form__results {
  position: absolute;
  z-index: 999;
  top: 56px;
  left: 0;
  right: 0;
}
.search-form__results-section {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  border: 1px solid #212121;
  border-radius: 5px;
}
.search-form__results-title {
  padding: 0 12px;
  margin-bottom: 12px;
}
.search-form__results-row {
  padding: 12px;
  cursor: pointer;
  user-select: none;
}
.search-form__results-row:hover {
  background-color: #F0F0F0;
}
.search-form[size=small] .search-form__results {
  top: 48px;
}
.search-form[size=small] .search-form__results-title {
  padding: 0 6px;
  margin-bottom: 6px;
}
.search-form[size=small] .search-form__results-section {
  padding: 6px 0;
}
.search-form[size=small] .search-form__results-row {
  padding: 6px;
}
.search-form__button, .search-form__button_search, .search-form__button_close {
  position: absolute;
}
.search-form__button_close {
  top: 50%;
  right: 56px;
  transform: translateY(-50%);
}
.search-form__button_search {
  right: 0;
}
.search-form[size=small] {
  min-height: 40px;
  max-height: 40px;
}
.search-form[size=small] .search-form__input {
  min-height: 40px;
  max-height: 40px;
  padding: 0px 82px 0px 12px;
}
.search-form[size=small] .search-form__button_close {
  top: 50%;
  right: 48px;
  transform: translateY(-50%);
}
.search-form[size=small] .search-form__button_search {
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

/*# sourceMappingURL=main.css.map */
