.main {
    &__controls {
        margin-bottom: 48px;
    }

    &__no-results-message[is-hidden="true"] {
        display: none;
    }

    &__my-select[is-hidden="true"] {
        display: none;
    }

    &__search-form {
        margin-right: 40px;
    }

    &__book-covers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 32px;
        column-gap: 40px;
    }
}