@use '../../base/vars';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__filters-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 32px;
        margin-bottom: 40px;
    }

    &__filters-card {
        box-shadow: vars.$box-shadow;;
    }

    &__my-button {
        box-shadow: vars.$box-shadow;
    }

    &[is-hidden="true"] {
        display: none;
    }
}