@use "../base/vars";

.my-button {
    $element-selector: &;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 11px;
    background-color: vars.$color-white;
    border: 1px solid vars.$color-black;
    color: vars.$color-black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &__text {
        max-width: 100%;
        overflow: hidden;
    }

    &__img {
        pointer-events: none;
    }

    &_full {
        #{$element-selector}__text {
            margin-right: 4px;
        }
    }

    &[theme='inverse'] {
        background-color: vars.$color-black;
        border: 1px solid vars.$color-black;
        color: vars.$color-white;
    }

    &[size='small'] {
        padding: 4px;
    }
}