@use "../base/vars";

.my-select {
    display: inline-flex;
    flex-direction: column;

    min-width: 300px;
    max-width: 300px;
    min-height: 48px;
    max-height: 48px;
    
    position: relative;

    &__button {
        justify-content: space-between;
    }

    &__options {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
        border: 1px solid vars.$color-gray;
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            border-color: vars.$color-black;
        }
    }

    &__option {
        padding: 8px 6px;
        white-space: nowrap;
        user-select: none;

        & p {
            overflow: hidden;
            pointer-events: none;
        }

        &:hover {
            background-color: vars.$color-hover-row-gray;
        }
    }

    $element-selector: &;

    &_expanded {
        #{$element-selector}__button img {
            transform: rotate(180deg);
        }

        #{$element-selector}__options {
            display: flex;
        }
    }
}