@use '../base/vars';

.my-pagination {
    display: flex;
    column-gap: 16px;

    &__ellipsis {
        align-self: flex-end;
        user-select: none;

        &[is-hidden="true"] {
            display: none;
        }
    }

    &__my-button {
        &_navigate {
            border: 0;

            &:hover {
                background-color: vars.$color-hover-row-gray;
            }
        }

        &_navigate-left {
            transform: rotate(90deg);
        }

        &_navigate-right {
            transform: rotate(-90deg);
        }

        &_change-page {
            min-width: 0;
        }

        &[is-hidden="true"] {
            display: none;
        }
    }

    &__movable-buttons {
        display: flex;
        column-gap: 16px;
    }

    &__my-buttons {
        display: flex;
        column-gap: 16px;
    }

    $element-selector: &;

    &[type="small"] {
        #{$element-selector}__ellipsis {
            display: none;
        }
    }

    &[state="start"] {
        #{$element-selector}__ellipsis_left {
            display: none;
        }
    }

    &[state="end"] {
        #{$element-selector}__ellipsis_right {
            display: none;
        }
    }
}