@use "../base/vars";

$default-size: 48px;
$small-size: 28px;
$border-width: 1px;

.my-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: $default-size;
    min-height: $default-size;
    max-height: $default-size;
    padding: 11px;
    background-color: vars.$color-white;
    border: $border-width solid vars.$color-black;
    color: vars.$color-black;
    fill: vars.$color-black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &[theme='inverse'] {
        background-color: vars.$color-black;
        border: 1px solid vars.$color-black;
        color: vars.$color-white;
        fill: vars.$color-white;
    }

    &[size='small'] {
        min-width: $small-size;
        min-height: $small-size;
        max-height: $small-size;
        padding: 4px;
    }

    &__text {
        max-width: 100%;
        overflow: hidden;
    }

    $component-selector: &;

    &__icon {
        pointer-events: none;

        &--hidden {
            @extend #{$component-selector};
            display: none;
        }
    }
}

.my-button--full,
.my-button--icon,
.my-button--text {
    @extend .my-button;
}

.my-button--icon {
    max-width: $default-size;

    &[size="small"] {
        max-width: $small-size;
    }
}