@use '../base/vars';
@use 'my-button';

$default-input-height: 48px;
$small-input-height: 40px;

$default-padding: 0px (8px + my-button.$button-square-small-size + 6px + my-button.$button-square-default-size) 0px 12px;
$small-padding: 0px (8px + my-button.$button-square-small-size * 2 + 6px + 12px) 0px 12px;

$btn-search-default-right-indent: 0;
$btn-search-small-right-indent: 12px;
$btn-close-default-right-indent: 8px + my-button.$button-square-default-size + $btn-search-default-right-indent;
$btn-close-small-right-indent: 8px + my-button.$button-square-small-size + $btn-search-small-right-indent;

$results-default-top-indent: $default-input-height + 8px; 
$results-small-top-indent: $small-input-height + 8px; 

.search-form {
    $component-selector: &;

    display: inline-flex;
    position: relative;

    min-width: 200px;
    min-height: $default-input-height;
    max-height: $default-input-height;

    &__input {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: $default-input-height;
        max-height: $default-input-height;

        border: 1px solid vars.$color-gray;
        border-radius: 5px;
        padding: $default-padding;

        &:hover,
        &:focus {
            border-color: vars.$color-black;
        }

        &:focus {
            outline: 2px solid black;
        }
    }

    &__results {
        position: absolute;
        z-index: 999;
        top: $results-default-top-indent;
        left: 0;
        right: 0;

        &-section {
            display: flex;
            flex-direction: column;
            padding: 12px 0;
            border: 1px solid vars.$color-black;
            border-radius: 5px;
        }

        &-title {
            padding: 0 12px;
            margin-bottom: 12px;
        }

        &-row {
            padding: 12px;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: vars.$color-hover-row-gray;
            }
        }
    }

    &[size="small"] {
        #{$component-selector}__results {
            top: $results-small-top-indent;

            &-title {
                padding: 0 6px;
                margin-bottom: 6px;
            }

            &-section {
                padding: 6px 0;
            }

            &-row {
                padding: 6px;
            }
        }
    }

    &__button {
        $btn-selector: &;
        position: absolute;

        &_close {
            @extend #{$btn-selector};
            top: 50%;
            right: $btn-close-default-right-indent;
            transform: translateY(-50%);
        }

        &_search {
            @extend #{$btn-selector};
            right: $btn-search-default-right-indent;
        }
    }

    &[size="small"] {
        min-height: $small-input-height;
        max-height: $small-input-height;

        #{$component-selector}__input {
            min-height: $small-input-height;
            max-height: $small-input-height;

            padding: $small-padding;
        }

        #{$component-selector}__button {
            &_close {
                top: 50%;
                right: $btn-close-small-right-indent;
                transform: translateY(-50%);
            }

            &_search {
                top: 50%;
                right: $btn-search-small-right-indent;
                transform: translateY(-50%);
            }
        }
    }
}