@use "../base/vars";

.book-card {
    display: flex;
    flex-direction: column;

    &:hover {
        & .book-cover { 
            border-color: vars.$color-black;
        }
    }

    &__cover {
        margin-bottom: 12px;
        pointer-events: none;
    }
    
    &__title {
        margin-bottom: 6px;
    }
    
    &__info {
        user-select: none;
        pointer-events: none;
    }

    &__title,
    &__author {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}