@use "../base/vars";

.book-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid vars.$color-gray; 
    border-radius: 5px;

    padding: 24px 16px;

    &:hover {
        border-color: vars.$color-black;
    }

    &__img {
        width: 200px;
        height: 280px;
        object-fit: contain;
    }
}