%heading-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -1.5px;
}

h1 {
    @extend %heading-1;
}

%heading-3 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    @extend %heading-3;
}

%heading-5 {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    @extend %heading-5;
}

%body-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.25px;
}

%body-2 {
    @extend %body-1;
    font-size: 16px;
    letter-spacing: 1.25px;
}

%body-3 {
    @extend %body-1;
    font-size: 14px;
    letter-spacing: 1.25px;
}

.search-form {
    $element-selector: &;

    &__input {
        @extend %body-1;
    }

    &[size='small'] {
        #{$element-selector}__input {
            @extend %body-2;
        }
    }

    &__results {
        &-title {
            @extend %body-1;
            font-weight: bold;
        }

        &-row {
            @extend %body-1;
        }
    }

    &[size='small'] {
        #{$element-selector}__results {
            &-title {
                @extend %body-2;
                font-weight: bold;
            }

            &-row {
                @extend %body-2;
            }
        }
    }
}

.my-button {
    @extend %body-2;

    &[size="small"] {
        @extend %body-3;
    }
}

.my-select {
    @extend %body-2;
}

.filters-card {
    &__title {
        @extend %body-1;
    }
}

.my-pagination {
    &__ellipsis {
        @extend %body-2;
    }
}

.checkbox {
    &__text {
        @extend %body-1;
    }

    &__count {
        @extend %body-2;
    }
}

.book-card {
    &__title {
        @extend %body-1;
    }

    &__author {
        @extend %body-2;
    }
}